.header {
    background-color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    & > a {
        color: black;
    }
}

.logo {
    height: 100px;
    width: 100px;
}